*{
    margin: 0;
    padding: 0;
}


header{
    width: 100%;
    background-color: #363636;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align:center;
}
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #878787;
    color: white;
    padding-left: 500px;

}
section{
    margin-top: 20px;
}
.sub{
   width: 50%;
   margin: 0 auto;
}
.rec1{
    width: 70%;
    background-color: #e0e0e0;
    padding:200px 0;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.rec2{
    width: 29%;
    background-color: #bcbabb;
    display: inline-block;
    text-align: center;
    padding:200px 0;
    vertical-align: top;
}
footer{
    /* width: 100%; */
    text-align: center;
    padding: 100px 0;
    background-color: #555555;
    color: white;
    margin-top: 20px;
}