*{
    margin: 0;
    padding: 0;
}
.main{
    width: 1200px;
    margin-left: 10px;
}
.child{
    width: 7.5% ;
    background-color: #fde4e4;
    margin-top:20px;
    height: 800px;
   display: inline-block;
   border: 3px solid #d0fdfd;
}