*{
    margin: 0;
    padding: 0;
}
body{
    text-align:center;
}

header{
    width: 100%;
    background-color: #363636;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
nav{
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #878787;
    color: white;
}
section{
    margin-top: 10px;
    background-color: #878787;
    color: white;
    overflow: hidden;
}
footer{
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#525252;
    color: white;

}
.Slideshow{
    background-color: #525252;
    margin: 20px 5px;
    padding: 100px;
}

.grid .col:first-child{
    margin-left: 0;
}
.grid{
    padding-bottom: 50px;
    margin-top: 50px;
}
.col{
    width: 32.3%;
    height: 250px;
    background-color: white;
    display: inline-block;
    margin-left: 12px;

}

